.header {
  width: 100vw;
  height: 59px;
  padding-left: 12px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
}

.header-text {
  color: white;
  width: auto;
  margin-right: 20px;
  user-select: none;
}

.person-icon:hover {
  fill: white;
  border-bottom: 3px solid white;
  animation: animate 3s linear;
}

p.links {
  color: gray;
  margin-right: 15px;
}

p.links:hover {
  color: white;
  cursor: pointer;
  border-bottom: 3px solid white;
}

@media (max-width: 545px) {
  p {
    font-size: 1rem;
  }
}
